In [1]:
# Dictionary
# -Indexing
# -Ordered
# -Dupicate values
# -No duplicate Index
# -Mutable
# -Key Value Pair

In [2]:
# a = {<key>:<Value>,<Key>:<Value>}

In [4]:
a = {"a":"Apple","b":"Ball"}
b = {1:"Apple",2:"Ball",3:"Cat"}
print(a)
print(b)

{'a': 'Apple', 'b': 'Ball'}
{1: 'Apple', 2: 'Ball', 3: 'Cat'}

In [14]:
a = {"a":"Apple","b":"Ball"}
print(a)
print(type(a))

{'a': 'Apple', 'b': 'Ball'}
<class 'dict'>

In [7]:
a = {"a":"Apple","b":"Ball","A":"Apple"}
len(a)

3

In [9]:
a = {"a":"Apple","b":"Ball","a":"apple"}
print(a)

{'a': 'apple', 'b': 'Ball'}

In [12]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a["b"] = "Bat"
print(a)

{'a': 'Apple', 'b': 'Bat', 'c': 'Cat'}

In [13]:
a = {"a":"Apple","b":"Ball","c":"Cat"}
a["B"] = "Bat"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'B': 'Bat'}

In [15]:
a = dict()
a[1] = "Ram"
a[2] = "Shyam"
a[3] = "Hari"
print(a)

{1: 'Ram', 2: 'Shyam', 3: 'Hari'}

In [16]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9856554543
Enter name = Shyam
Enter phone = 9856554543
{'Ram': '9856554543', 'Shyam': '9856554543'}

In [17]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
for i in a:
    print(i)

Ram
Shyam

In [18]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
for i in a.items():
    print(i)

('Ram', '9856554543')
('Shyam', '9856554543')

In [19]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
for i in a.values():
    print(i)

9856554543
9856554543

In [21]:
d = []
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
for i in a.items():
    d.append(i)
    
print(d)

[('Ram', '9856554543'), ('Shyam', '9856554543')]

In [22]:
d = [('Ram', '9856554543'), ('Shyam', '9856554543')]
dict(d)

{'Ram': '9856554543', 'Shyam': '9856554543'}

In [23]:
d = (('Ram', '9856554543'), ('Shyam', '9856554543'))
dict(d)

{'Ram': '9856554543', 'Shyam': '9856554543'}

In [24]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
a["Hari"] = '9856556543'
a

{'Ram': '9856554543', 'Shyam': '9856554543', 'Hari': '9856556543'}

In [26]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
b = {"Hari":'9855654543'}
a.update(b)
print(a)

{'Ram': '9856554543', 'Shyam': '9856554543', 'Hari': '9855654543'}

In [27]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
b = {"Hari":'9855654543'}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [28]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
a*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [30]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
name = input('Enter name = ')
a[name]

Enter name = ram

KeyError: 'ram'

In [31]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
del a['Ram']
a

{'Shyam': '9856554543'}

In [32]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
del a['Ram':'Shyam']
a

TypeError: unhashable type: 'slice'

In [35]:
a = {'Ram': '9856554543', 'Shyam': '9856554543'}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': '9856554543'}
9856554543

In [36]:
# list inside dict
a = {'Ram':[9845445432,9808445432],'Shyam':[9845445435,9808445432]}
a

{'Ram': [9845445432, 9808445432], 'Shyam': [9845445435, 9808445432]}

In [37]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ncell = input("Enter ncell phone no = ")
    ntc = input("Enter ntc phone no = ")
    info[name] = [ncell,ntc]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ncell phone no = 9856554543
Enter ntc phone no = 9808445432
Enter name = Shyam
Enter ncell phone no = 9856554543
Enter ntc phone no = 9808556543
{'Ram': ['9856554543', '9808445432'], 'Shyam': ['9856554543', '9808556543']}

In [38]:
info = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age  = ")
    add = input("Enter add = ")
    info[i] = [name,age,add]
    
print(info)

Enter n = 2
Enter name = Ram
Enter age  = 45
Enter add = Kathmandu
Enter name = Ram
Enter age  = 34
Enter add = Patan
{1: ['Ram', '45', 'Kathmandu'], 2: ['Ram', '34', 'Patan']}

In [42]:
a = {'Ram': ['9856554543', '9808445432'], 'Shyam': ['9856554543', '9808556543']}
print(a['Ram'][1])

9808445432

In [45]:
a = {'Ram': ['9856554543', '9808445432'], 'Shyam': ['9856554543', '9808556543']}
a['Ram'][1] = 9808998877
a

{'Ram': ['9856554543', 9808998877], 'Shyam': ['9856554543', '9808556543']}

In [46]:
a = {'Ram': ['9856554543', '9808445432'], 'Shyam': ['9856554543', '9808556543']}
a['Ram']= [9845667766,9808556677]
a

{'Ram': [9845667766, 9808556677], 'Shyam': ['9856554543', '9808556543']}

In [48]:
a = {'Ram': [9856554543, [9808445432,9808998866]], 'Shyam': [9856554543, 9808556543]}
a

{'Ram': [9856554543, [9808445432, 9808998866]],
 'Shyam': [9856554543, 9808556543]}

In [51]:
a = {'Ram': ['9856554543', '9808445432'], 'Shyam': ['9856554543', '9808556543']}
del a['Ram'][1]
a

{'Ram': ['9856554543'], 'Shyam': ['9856554543', '9808556543']}

In [60]:
# dict inside list
a = [{"Name":"Ram","NTC":9867665654,"NCELL":9808998877},
    {"Name":"Shyam","NTC":9867666754,"NCELL":9803498877}]
a

[{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877},
 {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877}]

In [61]:
x = {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}
a.append(x)
print(a)
print(len(a))

[{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877}, {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877}, {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]
3

In [64]:
a = [{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877}, {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877}, {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]
print(a[0]['Name'])

Ram

In [66]:
a = [{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877}, {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877}, {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]
a[0] = {'Name': 'Rama', 'NTC': 9867665652, 'NCELL': 9808998873}
a

[{'Name': 'Rama', 'NTC': 9867665652, 'NCELL': 9808998873},
 {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877},
 {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]

In [67]:
a = [{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877}, {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877}, {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]
a[0]['NTC'] = 9841000000
a

[{'Name': 'Ram', 'NTC': 9841000000, 'NCELL': 9808998877},
 {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877},
 {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]

In [68]:
a = [{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877}, {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877}, {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]
a[0]['Sat'] = '+899055654'
a

[{'Name': 'Ram', 'NTC': 9867665654, 'NCELL': 9808998877, 'Sat': '+899055654'},
 {'Name': 'Shyam', 'NTC': 9867666754, 'NCELL': 9803498877},
 {'Name': 'Hari', 'NTC': 9867623754, 'NCELL': 9803493477}]

In [72]:
a = [{'Name': 'Ram', 'NTC': [9841000000], 'NCELL': [9808998877]},
 {'Name': 'Shyam', 'NTC': [9867666754], 'NCELL': [9803498877]},
 {'Name': 'Hari', 'NTC': [9867623754], 'NCELL': [9803493477]}]

a[0]['NTC'].append(9867667543)
a

[{'Name': 'Ram', 'NTC': [9841000000, 9867667543], 'NCELL': [9808998877]},
 {'Name': 'Shyam', 'NTC': [9867666754], 'NCELL': [9803498877]},
 {'Name': 'Hari', 'NTC': [9867623754], 'NCELL': [9803493477]}]

In [2]:
# dict inside dict
a = {1:{"Name":"Ram","Age":34,"Address":"Kathmandu"},
    2:{"Name":"Rama","Age":43,"Address":"Patan"},
    3:{"Name":"Hari","Age":54,"Address":"Kathmandu"}}

In [4]:
a = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    b = {"Name":name,"Age":age,"Address":add}
    a[i] = b
    
print(a)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 45
Enter address = Patan
{1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}

In [6]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
a[2]

{'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}

In [7]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
for i in a:
    print(i)

1
2

In [9]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
for i in a.values():
    print(i)

{'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}

In [10]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
for i in a.items():
    print(i)

(1, {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'})
(2, {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'})

In [12]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
a[1]['Age'] = 40
a

{1: {'Name': 'Ram', 'Age': 40, 'Address': 'Kathmandu'},
 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}

In [13]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
a[1]['Address'] = ['Kathmandu','Janakpur']
a

{1: {'Name': 'Ram', 'Age': 34, 'Address': ['Kathmandu', 'Janakpur']},
 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}

In [14]:
a = {1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu'}, 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}
a[1]['Phone'] = 9845667843
a

{1: {'Name': 'Ram', 'Age': 34, 'Address': 'Kathmandu', 'Phone': 9845667843},
 2: {'Name': 'Shyam', 'Age': 45, 'Address': 'Patan'}}

In [15]:
a = {'Ram': ('9856554543', '9808445432'), 'Shyam': ('9856554543', '9808556543')}
a['Ram'][1] = 9808998877
a

TypeError: 'tuple' object does not support item assignment

In [17]:
a = {['Ram']: ('9856554543',), ['Shyam']: ('9856554543',)}

TypeError: unhashable type: 'list'

In [19]:
a = {('Ram','Hari'):9856554543, ('Shyam','Sita'): 9856554543}
a

{('Ram', 'Hari'): 9856554543, ('Shyam', 'Sita'): 9856554543}

In [ ]:
# WAP
data = {1:{"Name":"Ram","Physics":{"Th":45,"Pr":25},"Chemistry":{"Th":45,"Pr":25},"Math":78,"English":89,"Nepali":56},
       2:{"Name":"Rama","Physics":{"Th":45,"Pr":25},"Chemistry":{"Th":45,"Pr":25},"Math":78,"English":89,"Nepali":56}}