In [1]:
# Python Collections
# -List
# -Tuple
# -Dictionary
# -Set

In [2]:
# list
# -Mutiple values
# -Duplicate values
# -Indexing
# Ordered
# -Mutable

In [3]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [9]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a[4])

Apple

In [10]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(len(a))

5

In [11]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a[0:4])

['Apple', 'Ball', 'Cat', 'Dog']

In [12]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a[0:4:2])

['Apple', 'Cat']

In [13]:
a = ["Apple","Ball","Cat","Dog","Apple"]
b = ["Apple","Ball","Cat","Dog","Apple"]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [14]:
a = ['Apple', 'Ball', 'Cat']
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']

In [16]:
a = ["Ram","Shyam","Hari","Sita","Gita"]
a[0] = "Ram Prasad"
a

['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']

In [19]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
    
print(a)

Enter n = 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Sita
Enter name = Gita
['Ram', 'Shyam', 'Hari', 'Sita', 'Gita']

In [3]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print(a)
print("The sum is = ",sum(a))
print("The max value is = ",max(a))
print("The min value is = ",min(a))
print("The average value is = ",sum(a)/n)

Enter n = 5
Enter x = 132
Enter x = 243
Enter x = 132
Enter x = 234
Enter x = 132
[132, 243, 132, 234, 132]
The sum is =  873
The max value is =  243
The min value is =  132
The average value is =  174.6

In [4]:
a.sort()

In [5]:
print(a)

[132, 132, 132, 234, 243]

In [6]:
a.reverse()
print(a)

[243, 234, 132, 132, 132]

In [7]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a = a+[x]
    
print(a)
a.sort()
print(a)

Enter n = 5
Enter x = Ball
Enter x = Zebra
Enter x = xray
Enter x = apple
Enter x = ant
['Ball', 'Zebra', 'xray', 'apple', 'ant']
['Ball', 'Zebra', 'ant', 'apple', 'xray']

In [8]:
a = ['Ball', 'Zebra', '1xray', 'apple', 'ant']
a.sort()

In [9]:
print(a)

['1xray', 'Ball', 'Zebra', 'ant', 'apple']

In [10]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
for i in a:
    print(i)

Ram Prasad
Shyam
Hari
Sita
Gita

In [17]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
for i in a:
    if "Hari" in a:
        print("Yes")
        x = a.count("Hari")
        print(x)
        break

Yes
1

In [19]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
for i in a:
    if i == "Hari":
        continue
    print(i)

Ram Prasad
Shyam
Sita
Gita

In [23]:
## append() insert() extend()

a = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
    
print(a)

Enter n = 5
Enter name = 2423
['2423']
Enter name = 34534
['2423', '34534']
Enter name = 2423
['2423', '34534', '2423']
Enter name = 435
['2423', '34534', '2423', '435']
Enter name = 234
['2423', '34534', '2423', '435', '234']

In [24]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
a.append("Nabin")
a

['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita', 'Nabin']

In [25]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
a.insert(2,"Nabina")
a

['Ram Prasad', 'Shyam', 'Nabina', 'Hari', 'Sita', 'Gita']

In [26]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
b = ["Rasmi",'Sabita']
a.extend(b)
print(a)

['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita', 'Rasmi', 'Sabita']

In [28]:
a = ["Apple"]
b = ["Ball"]
a+b
print(a)

['Apple']

In [1]:
# del remove() pop()
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
del a[0]

In [2]:
print(a)

['Shyam', 'Hari', 'Sita', 'Gita']

In [3]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
del a[0:3]
print(a)

['Sita', 'Gita']

In [4]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
a.remove("Ram Prasad")
print(a)

['Shyam', 'Hari', 'Sita', 'Gita']

In [7]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
a.pop(2)
print(a)

['Ram Prasad', 'Shyam', 'Sita', 'Gita']

In [8]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita']
a.index('Shyam')

1

In [9]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita','Shyam']
a.remove('Shyam')
print(a)

['Ram Prasad', 'Hari', 'Sita', 'Gita', 'Shyam']

In [10]:
a = ['Ram Prasad', 'Shyam', 'Hari', 'Sita', 'Gita','Shyam']
name = input("Enter name = ")
for i in a:
    if i == name:
        a.remove('Shyam')
print(a)

Enter name = Shyam
['Ram Prasad', 'Hari', 'Sita', 'Gita']

In [11]:
a = ['Ram Prasad','Shyam', 'Hari', 'Sita', 'Gita','Shyam']
n = len(a)
name = input("Enter name = ")
for i in range(n):
    if a[i] == name:
        print(i)

Enter name = Shyam
1
5

In [12]:
# list inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [15]:
print(a[0])
print(a[0][0])
print(len(a))

[1, 2, 3]
1
3

In [17]:
info =[]
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    info.append(x)
print(info)

Enter n = 3
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 54
Enter add = Bara
Enter name = Nabin
Enter age = 45
Enter add = Sauhara
[['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]

In [18]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
for i in a:
    print(i)

['Ram', 34, 'Kathmandu']
['Shyam', 54, 'Bara']
['Nabin', 45, 'Sauhara']

In [23]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
a[2][0]

'Nabin'

In [24]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
for i in range(3):
    print(a[i][0])

Ram
Shyam
Nabin

In [26]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Shyam
['Shyam', 54, 'Bara']

In [27]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
a.append(['Sabin',23,'Bhaktapur'])
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara'], ['Sabin', 23, 'Bhaktapur']]

In [29]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
a[0] = ['Rama', 24, 'Ktm']
a

[['Rama', 24, 'Ktm'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]

In [32]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
a[0][0] = "Hari"
print(a)

[['Hari', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]

In [36]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
del a[0]
a

[['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]

In [37]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 54, 'Bara'], ['Nabin', 45, 'Sauhara']]
name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)
        
print(a)

Enter name = Shyam
[['Ram', 34, 'Kathmandu'], ['Nabin', 45, 'Sauhara']]

In [39]:
s = []
n = int(input("Enter n = "))

for i in range(n):
    name  = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    
    info = [name,price,quantity,total]
    s.append(info)
    
print(s)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 3
Enter name = Banana
Enter price = 100
Enter quantity = 2
[['Apple', 200, 3, 600], ['Banana', 100, 2, 200]]

In [46]:
a = [['Apple', 200, 3, 600], ['Banana', 100, 2, 200]]
a[0][2] = 4
a[0][3] = a[0][1]*a[0][2]
print(a)

[['Apple', 200, 4, 800], ['Banana', 100, 2, 200]]

In [47]:
# a = [[1,2,3],
#      [4,5,6],
#      [7,8,9]]

In [3]:
m = []
r = int(input("Enter r = "))
c = int(input("Enter c = "))
for i in range(r):
    x = []
    for j in range(c):
        y = int(input("Enter y "))
        x.append(y)
    m.append(x)
print(m)

Enter r = 3
Enter c = 3
Enter y 1
Enter y 2
Enter y 3
Enter y 4
Enter y 5
Enter y 6
Enter y 7
Enter y 8
Enter y 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]