In [2]:
a = 'Hello World'
print(type(a))

<class 'str'>

In [8]:
a = "Hello World I am Python"
print(a[-1])
print(a[0:6])  #string slicing
print(a[6:])
print(a[0:15:2])

n
Hello
World I am Python
HloWrdIa

In [10]:
a = "Hello World I am Python"
l = len(a)
print(l)
print(a[l::-1])

23
nohtyP ma I dlroW olleH

In [11]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = Apple
Enter b = Ball
AppleBall

In [13]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 10
Enter b = 20
30

In [14]:
# String formatting
name = input("Enter name = ")
age = input("Enter age = ")
add = input("Enter add = ")
info = f"Hello I am {name}. I am {age}. I am from {add}"
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello I am Ram. I am 34. I am fro Kathmandu

In [ ]:
s = ''
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name  = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    
    info = f"{name} {price} {quantity} {total}"
    s = s+info+"\n"
    grand_total = grand_total +total
print(s)
print(grand_total)

In [16]:
a = "Hello World I am Python"
for i in a:
    print(i,end = "")

Hello World I am Python

In [17]:
a = "Hello World I am Python"
for i in a:
    if i == " ":
        continue
    print(i,end = "")

HelloWorldIamPython

In [20]:
a = "Hello World I am Python"
if "Python" in a:
    x = a.count("Python")
    print("Yes",x)

Yes 1

In [22]:
a = "Hello World I am Python"
value = input("Enter value for search = ")
if value in a:
    x = a.count("Python")
    print("Yes",x)

Enter value for search = python

In [23]:
a = "Hello World I am Python"
a.upper()

'HELLO WORLD I AM PYTHON'

In [24]:
a = "Hello World I am Python"
a.lower()

'hello world i am python'

In [38]:
a = "Hello World I am Python"
a_lower = a.lower()
value = input("Enter value for search = ")
value_lower = value.lower()
if value_lower in a_lower:
    x = a_lower.count(value_lower)
    print("Yes",x)

Enter value for search =
Yes 4

In [29]:
# replace()
a = "Ram Shyam Hari Sita Ram Nabin Sita"
b = a.replace("Ram","Rama")
print(a)
print(b)

Ram Shyam Hari Sita Ram Nabin Sita
Rama Shyam Hari Sita Rama Nabin Sita

In [30]:
# replace()
value = input("Enter name = ")
replace_value = input("Enter replace_value = ")

a = "Ram Shyam Hari Sita Ram Nabin Sita"
a.replace(value,replace_value)

Enter name = Shyam
Enter replace_value = shyam

'Ram shyam Hari Sita Ram Nabin Sita'

In [34]:
a = "Ram Shyam Hari Sita Ram Nabin Sita"
b = a[0:3]
c = a[3:]
d = "Rama"
d+c

'Rama Shyam Hari Sita Ram Nabin Sita'

In [35]:
a = "Ram Shyam Hari Sita Ram Nabin Sita"
a.replace("Ram","")

' Shyam Hari Sita  Nabin Sita'

In [36]:
a = "Ram Shyam Hari Sita Ram Nabin Sita"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Ram', 'Nabin', 'Sita']

In [39]:
s = ''
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name  = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    
    info = f"{name} {price} {quantity} {total}"
    s = s+info+"\n"
    grand_total = grand_total +total
print(s)
print(s.split('\n'))

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 4
Enter name = Banana
Enter price = 400
Enter quantity = 2
Apple 200 4 800
Banana 400 2 800

['Apple 200 4 800', 'Banana 400 2 800', '']