In [1]:
# Tuple
# -Mutiple values
# -Duplicate values
# -Indexing
# -Imutable

In [2]:
a = ("Apple","Ball","Cat")
print(type(a))

<class 'tuple'>

In [6]:
a = ("Apple",)
type(a)

tuple

In [7]:
a = ("Apple","Ball","Cat","Apple")
a

('Apple', 'Ball', 'Cat', 'Apple')

In [8]:
a = ("Apple","Ball","Cat","Apple")
a*2

('Apple', 'Ball', 'Cat', 'Apple', 'Apple', 'Ball', 'Cat', 'Apple')

In [11]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[1])

Ball

In [12]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0:3])

('Apple', 'Ball', 'Cat')

In [13]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0:4:2])

('Apple', 'Cat')

In [14]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [15]:
a = ("Apple","Ball","Cat","Dog","Fish")
b = ("Goat",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat')

In [17]:
# Update Delete Sort
a = ("Apple","Ball","Cat","Dog","Fish")
a[0] = "apple"

TypeError: 'tuple' object does not support item assignment

In [19]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+(x,)
    
print(a)

Enter n = 3
Enter x = 123
(123,)
Enter x = 234
(123, 234)
Enter x = 345
(123, 234, 345)

In [20]:
for i in a:
    print(i)

123
234
345

In [21]:
for i in a:
    if i == 234:
        continue
    print(i)

123
345

In [22]:
a = ("Apple","Ball","Cat","Apple")
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))

Yes
2

In [23]:
a = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+(x,)
    
print(a)
print("The sum is = ",sum(a))
print("The max value is = ",max(a))
print("The min value is = ",min(a))
print("The average value is = ",sum(a)/n)

Enter n = 5
Enter x = 312
Enter x = 34
Enter x = 23
Enter x = 53
Enter x = 324
(312, 34, 23, 53, 324)
The sum is =  746
The max value is =  324
The min value is =  23
The average value is =  149.2

In [24]:
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [26]:
print(a)
print(sorted(a))
print(a)

(312, 34, 23, 53, 324)
[23, 34, 53, 312, 324]
(312, 34, 23, 53, 324)

In [27]:
a = ("Apple","Ball","Cat","Dog","Fish")
b = list(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [28]:
b.remove("Apple")
print(b)

['Ball', 'Cat', 'Dog', 'Fish']

In [29]:
c = tuple(b)
print(c)

('Ball', 'Cat', 'Dog', 'Fish')

In [31]:
a = ("Apple","Ball","Cat","Dog","Fish","Apple")
n = len(a)
for i in range(n):
    if "Apple" in a[i]:
        print(i)

0
5

In [34]:
a = ((1,2,3),(4,5,6),(7,8,9))
print(a[0][0])

1

In [37]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
c = a+b
c

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [38]:
info =tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = (name,age,add)
    info = info+(x,)
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmansu
Enter name = Shyam
Enter age = 23
Enter add = Patan
(('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))

In [39]:
a = (('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
('Ram', 34, 'Kathmansu')

In [40]:
def hello():
    return "hello","World"

hello()

('hello', 'World')

In [41]:
def cal():
    l = 4
    b = 6
    h = 2
    a = l*b
    v = l*b*h
    return a,v

cal()

(24, 48)

In [45]:
c = []
a = (('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))

print(a)
for i in a:
    x = list(i)
    c.append(x)
    
print(c)

(('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))
[['Ram', 34, 'Kathmansu'], ['Shyam', 23, 'Patan']]

In [46]:
c = tuple()
a = [['Ram', 34, 'Kathmansu'], ['Shyam', 23, 'Patan']]

for i in a:
    x = tuple(i)
    c = c+(x,)
    
print(c)

(('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))

In [51]:
a = (('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'))
b = list(a)
b.append(("Hari",32,"Bhaktapur"))
b

[('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'), ('Hari', 32, 'Bhaktapur')]

In [53]:
a = [('Ram', 34, 'Kathmansu'), ('Shyam', 23, 'Patan'), ('Hari', 32, 'Bhaktapur')]
del a[0]
a

[('Shyam', 23, 'Patan'), ('Hari', 32, 'Bhaktapur')]

In [54]:
a = (['Ram', 34, 'Kathmansu'], ['Shyam', 23, 'Patan'])
print(a)

(['Ram', 34, 'Kathmansu'], ['Shyam', 23, 'Patan'])

In [57]:
a = (['Ram', 34, 'Kathmansu'], ['Shyam', 23, 'Patan'])
a[0][0] = "Rama"
a

(['Rama', 34, 'Kathmansu'], ['Shyam', 23, 'Patan'])

In [58]:
a = [([]),(),[[]]]